<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baozha1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,798},{72,74}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,27},{72,74}}</string>
                <key>sourceSize</key>
                <string>{152,114}</string>
            </dict>
            <key>baozha2.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,743},{68,70}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,31},{68,70}}</string>
                <key>sourceSize</key>
                <string>{152,114}</string>
            </dict>
            <key>baozha3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,718},{78,86}}</string>
                <key>offset</key>
                <string>{2,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,28},{78,86}}</string>
                <key>sourceSize</key>
                <string>{152,114}</string>
            </dict>
            <key>baozha4.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,684},{80,86}}</string>
                <key>offset</key>
                <string>{3,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,26},{80,86}}</string>
                <key>sourceSize</key>
                <string>{152,114}</string>
            </dict>
            <key>baozha5.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,735},{84,74}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,23},{84,74}}</string>
                <key>sourceSize</key>
                <string>{152,114}</string>
            </dict>
            <key>baozha6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,640},{88,76}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,22},{88,76}}</string>
                <key>sourceSize</key>
                <string>{152,114}</string>
            </dict>
            <key>baozha7.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,528},{92,82}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,18},{92,82}}</string>
                <key>sourceSize</key>
                <string>{152,114}</string>
            </dict>
            <key>baozha8.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,604},{88,78}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,20},{88,78}}</string>
                <key>sourceSize</key>
                <string>{152,114}</string>
            </dict>
            <key>baozha9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,560},{88,78}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,21},{88,78}}</string>
                <key>sourceSize</key>
                <string>{152,114}</string>
            </dict>
            <key>buff1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,360},{52,60}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{52,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>buff1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,441},{54,60}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{54,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>buff1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,595},{54,56}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{54,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>buff1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,238},{52,50}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{52,50}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>buff1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,292},{50,46}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{50,46}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>buff1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,340},{50,44}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{50,44}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>buff1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,467},{46,44}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,11},{46,44}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>buff2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,718},{73,73}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{73,73}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>buff2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,600},{61,63}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{61,63}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>buff2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,645},{69,71}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{69,71}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>buff2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,529},{69,65}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{69,65}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>buff2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,460},{63,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{63,67}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>buff2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,750},{63,59}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{63,59}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>buff2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,386},{53,49}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,12},{53,49}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>buff2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,422},{47,43}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,15},{47,43}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>buff2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,578},{65,67}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{65,67}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>buff2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,513},{63,63}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{63,63}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>hongzha_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,766},{72,74}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,28},{72,74}}</string>
                <key>sourceSize</key>
                <string>{170,120}</string>
            </dict>
            <key>hongzha_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,238},{146,120}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{146,120}}</string>
                <key>sourceSize</key>
                <string>{170,120}</string>
            </dict>
            <key>hongzha_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,238},{152,114}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{152,114}}</string>
                <key>sourceSize</key>
                <string>{170,120}</string>
            </dict>
            <key>hongzha_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{160,118}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{160,118}}</string>
                <key>sourceSize</key>
                <string>{170,120}</string>
            </dict>
            <key>hongzha_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{164,118}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{164,118}}</string>
                <key>sourceSize</key>
                <string>{170,120}</string>
            </dict>
            <key>hongzha_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{164,112}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{164,112}}</string>
                <key>sourceSize</key>
                <string>{170,120}</string>
            </dict>
            <key>hongzha_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{154,112}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{154,112}}</string>
                <key>sourceSize</key>
                <string>{170,120}</string>
            </dict>
            <key>hongzha_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{154,102}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{154,102}}</string>
                <key>sourceSize</key>
                <string>{170,120}</string>
            </dict>
            <key>hongzha_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,663},{88,70}}</string>
                <key>offset</key>
                <string>{-1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,6},{88,70}}</string>
                <key>sourceSize</key>
                <string>{170,120}</string>
            </dict>
            <key>hongzha_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,503},{90,56}}</string>
                <key>offset</key>
                <string>{1,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,16},{90,56}}</string>
                <key>sourceSize</key>
                <string>{170,120}</string>
            </dict>
            <key>hongzha_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,612},{92,58}}</string>
                <key>offset</key>
                <string>{5,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,10},{92,58}}</string>
                <key>sourceSize</key>
                <string>{170,120}</string>
            </dict>
            <key>hongzha_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,672},{84,76}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,30},{84,76}}</string>
                <key>sourceSize</key>
                <string>{170,120}</string>
            </dict>
            <key>hongzha_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,468},{96,58}}</string>
                <key>offset</key>
                <string>{6,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,6},{96,58}}</string>
                <key>sourceSize</key>
                <string>{170,120}</string>
            </dict>
            <key>hongzha_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,460},{98,44}}</string>
                <key>offset</key>
                <string>{8,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,16},{98,44}}</string>
                <key>sourceSize</key>
                <string>{170,120}</string>
            </dict>
            <key>hongzha_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,651},{90,42}}</string>
                <key>offset</key>
                <string>{6,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,12},{90,42}}</string>
                <key>sourceSize</key>
                <string>{170,120}</string>
            </dict>
            <key>hongzha_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,506},{96,96}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,14},{96,96}}</string>
                <key>sourceSize</key>
                <string>{170,120}</string>
            </dict>
            <key>hongzha_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,360},{112,106}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,8},{112,106}}</string>
                <key>sourceSize</key>
                <string>{170,120}</string>
            </dict>
            <key>hongzha_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,452},{122,106}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,9},{122,106}}</string>
                <key>sourceSize</key>
                <string>{170,120}</string>
            </dict>
            <key>hongzha_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,354},{138,104}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{138,104}}</string>
                <key>sourceSize</key>
                <string>{170,120}</string>
            </dict>
            <key>hongzha_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{148,110}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{148,110}}</string>
                <key>sourceSize</key>
                <string>{170,120}</string>
            </dict>
            <key>hongzha_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,122},{152,114}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{152,114}}</string>
                <key>sourceSize</key>
                <string>{170,120}</string>
            </dict>
            <key>hongzha_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,116},{154,120}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,120}}</string>
                <key>sourceSize</key>
                <string>{170,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>baozha.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5f92f387a49484ccec1240985d8da1df:1/1$</string>
            <key>textureFileName</key>
            <string>baozha.png</string>
        </dict>
    </dict>
</plist>
